body {
    background-image: url("images/astronomy.jpg");
    text-align: center;
    font-family: 'Lobster', cursive;
    color: white;
}

h1 {
    font-family: 'Lobster', cursive;
    margin-top: 40px;
    font-size: 60px;
    margin-bottom: 60px;
}

.content {
    border: dotted 6px white;
    padding-bottom: 40px;
    padding-top: 30px;
}